<div class='content'>
    
    <div class='puzzle-entry'>
        <form role='form' onsubmit='return false;'>
            <div class='row form-group'>
                <div class='col-md-8'>
                    {{view Ember.TextField class='form-control puzzle-input' placeholder='Puzzle...' valueBinding='userInput' action='generateNewPuzzle' target='parentView.controller'}}
                </div>
                <div class='col-md-3'>
                    <button type='button' class='btn btn-danger generate-btn' {{action 'generateNewPuzzle'}}>
                        New Puzzle
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class='puzzle-layout'>
        <form role='form' onsubmit='return false;'>
            <div class='row form-group'>
                <div class='col-md-4 col-md-offset-4'>
                    {{view Ember.TextField class='guessed-letters form-control' valueBinding='guesses' placeholder='Guesses....'}}
                </div>
            </div>
        </form>
        {{#each word in controllers.puzzle.wordContent}}
            <div class='word-wrap'>
                {{#each letter in word itemController='letter'}}
                    <div {{bindAttr class=':letter-value'}}>
                    <div {{bindAttr class=':letter-block letterClass'}}></div>
                        {{content}}
                    </div>
                {{/each}}
                <div class='letter-value letter-space'>
                </div>
            </div>
        {{/each}}
    </div>

    {{#if gameIsActive}}
        {{#unless lettersRemain}}
            <div class='winner-container'>
                <div class='winner'>
                    <h1>WINNER!</h1>
                    <em class='winner-phrase'>&quot;{{controller.puzzleValue}}&quot;</em>
                </div>
            </div>
        {{/unless}}
    {{/if}}
</div>